html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
  padding-top: 15px;
}

.site-title {
  font-weight: bold;
  text-align: center;
  color: #2f4f4f;
}

#answer {
  padding-top: 5px;
  font-size: 24px;
  font-weight: bold;
}

#equals {
  font-size: large;
  font-weight: bolder;
  color: #d3d3d3;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  #equals { 
    visibility: hidden;
    display: none; 
  }
  #notes {
    font-size: small;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  #equals {
    visibility: visible;
    display: block;
  }
  #notes {
    font-size: medium;
  }
}

.form-control::placeholder {
  color: #d3d3d3;
}

.form-control.answered::placeholder {
  color: #558138;
  font-weight: bold;
}

.form-control:focus {
  border-color: #114f79;
  box-shadow: inset 0 1px 1px #00000013, 0 0 8px #114f79;
}

.answered {
  border-color: #3f8848;
  box-shadow: inset 0 1px 1px #00000013, 0 0 8px #3f8848;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 25px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.site-footer {
  color: #2f4f4f;
  font-weight: bold;
  text-align: center;
}

.site-footer a {
  color: #976abb; 
  font-weight: bold;
}

.site-footer .love .fas {
  font-size: 14px;
  margin-left: 2px;
  margin-right: 2px;
  color: #b384da;
}